<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Yet Another WireGuard Gui</vendor>
  <vendor_url>https://github.com/Traciges/Yet-Another-Wireguard-Gui</vendor_url>

  <action id="io.github.traciges.wireguard.toggle">
    <description>Toggle WireGuard connection</description>
    <description xml:lang="de">WireGuard-Verbindung umschalten</description>
    <message>Authentication required to toggle a WireGuard connection.</message>
    <message xml:lang="de">Authentifizierung erforderlich, um eine WireGuard-Verbindung umzuschalten.</message>
    <icon_name>network-vpn</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="io.github.traciges.wireguard.delete">
    <description>Delete WireGuard configuration</description>
    <description xml:lang="de">WireGuard-Konfiguration löschen</description>
    <message>Authentication required to delete a WireGuard configuration.</message>
    <message xml:lang="de">Authentifizierung erforderlich, um eine WireGuard-Konfiguration zu löschen.</message>
    <icon_name>list-remove</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="io.github.traciges.wireguard.export">
    <description>Export WireGuard configuration</description>
    <description xml:lang="de">WireGuard-Konfiguration exportieren</description>
    <message>Authentication required to export a WireGuard configuration.</message>
    <message xml:lang="de">Authentifizierung erforderlich, um eine WireGuard-Konfiguration zu exportieren.</message>
    <icon_name>document-export</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="io.github.traciges.wireguard.import">
    <description>Import WireGuard configuration</description>
    <description xml:lang="de">WireGuard-Konfiguration importieren</description>
    <message>Authentication required to import a WireGuard configuration.</message>
    <message xml:lang="de">Authentifizierung erforderlich, um eine WireGuard-Konfiguration zu importieren.</message>
    <icon_name>document-import</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="io.github.traciges.wireguard.rename">
    <description>Rename WireGuard configuration</description>
    <description xml:lang="de">WireGuard-Konfiguration umbenennen</description>
    <message>Authentication required to rename a WireGuard configuration.</message>
    <message xml:lang="de">Authentifizierung erforderlich, um eine WireGuard-Konfiguration umzubenennen.</message>
    <icon_name>edit-rename</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
